@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Roboto";
}

.container{
  max-width: 375px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

a{
  text-decoration: none;
}

.product-wrapper{
  background-image: url(../public/bg.png);
  background-repeat: no-repeat;
}