@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Roboto";
  background-color: #F0F0F0;
}



.container{
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 400px) {
  .container{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

a{
  text-decoration: none;
}

.product-wrapper{
  background-image: url(../public/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.product-wrapper2{
  background-image: url(../public/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.product-wrapper3{
  background-image: url(../public/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* .loc1{
  background-image: url(../public/loca-bg.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.loc2{
  background-image: url(../public/loca-bg2.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.loc3{
  background-image: url(../public/loca-bg.svg);
  background-repeat: no-repeat;
  background-position: left;
} */